<div class='container'>
  <h1>Listing tweets</h1>

  <% if @tweets.size.zero? %>
    <p class='lead text-muted'>No tweets are available.</p>
  <% else %>
    <table class='table'>
      <tr>
        <th>Status</th>
        <th>Zombie</th>
        <th></th>
      </tr>

      <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.status %></td>
        <td><%= tweet.zombie.name %></td>
        <td>
          <%= link_to 'Show', tweet, class: 'btn btn-success btn-xs' %>
          <%= link_to 'Remove', tweet, method: :delete, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
      <% end %>
    </table>
    <% end %>
</div>
