
<div id='fullpage'>
  <div class="welcome section">
    <div class='container text-center bg-primary'>
      <h1>부트캠프에 오신 것을 환영합니다.</h1>
    </div>
  </div>

  <div class="image section">
    <div class="embed-responsive embed-responsive-16by9">
      <%= image_tag 'banner.jpg', class: 'embed-responsive-item' %>
    </div>
  </div>
</div>


