// Place all the styles related to the zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.content {
  margin-top: 60px;
}

.field_with_errors {
  input {
    border-color: red;
  }
}
